nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--primery-color);
    box-shadow: 0 2px 2px  rgba(0, 0, 0, 0.5);

}

nav .navbar{
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}

nav .navbar .logo a{
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 2.8rem;
    font-weight: 600;
}

.nav-links{
    height: 100%;
}

.nav-links .links{
    display: flex; 
}

.nav-links .links li{
    line-height: 70px;
    list-style-type: none;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 14px;
    font-size: 1.6rem;
    color: #fff;
}

.nav-links .links li a{
    color: #fff;
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
}

.nav-links .links li .arrow{
    height: 100%;
    width: 22px;
    text-align: center;
    line-height: 70px;
    transition: all 0.5s ease;
}

.nav-links .links li:hover .arrow-down.htmlcss-arrow,
.nav-links .links li:hover .arrow-down.js-arrow{
    transform: rotate(180deg);
    cursor: pointer;
}


/* =======SUBMENU======= */

.link-item .sub-menu{
    display: block;
    position: absolute;
    min-width: 90%;
    top: 70px;
    left: 0;
    background-color: var(--primery-color);
    border-radius: 0 0 6px 6px;
    box-shadow: 0 2px 2px  rgba(0, 0, 0, 0.8);
}
/* ========Animation Dropdown Each Item=========== */
.sub-menu .sub-item-1{
    animation: rotateX 240ms 60ms ease-in-out forwards;
    transform-origin: top center;
}
.sub-menu .sub-item-2{
    animation: rotateX 240ms 120ms ease-in-out forwards;
    transform-origin: top center;
}.sub-menu .sub-item-3{
    animation: rotateX 240ms 180ms ease-in-out forwards;
    transform-origin: top center;
}.sub-menu .sub-item-4{
    animation: rotateX 240ms 240ms ease-in-out forwards;
    transform-origin: top center;
}
/* ========================================= */
.link-item .sub-menu li:last-child{
    border-bottom: 0px;
}

.link-item .sub-menu .sub-item{
    display: none;
    opacity: 0;
    position: relative;
    line-height: 40px;
    padding: 6px 14px;
    transform: rotateX(0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.link-item .sub-menu .more-sub-item{
    position: relative;
    line-height: 40px;
    padding: 6px 14px;
    transform: rotateX(0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}


.links .link-item:hover .sub-item,
.links .link-item:hover .sub-menu{
    display: block;
}

.link-item .sub-menu a{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-links .links li:hover .sub-menu.htmlcss-sub-menu,
.nav-links .links li:hover .sub-menu.js-sub-menu{
    display: block;
    cursor: pointer;
}

.link-item .sub-menu .arrow.more-arrow{
    line-height: 40px;
}

.link-item .more .sub-menu.more-sub-menu{
    display: none;
    top: 0; 
    left: 100%;
    position: absolute;
    border-radius: 0 4px 4px 4px;
    transition: all 0.5s ease;
}

.link-item .sub-menu i{
    transition: all 0.4s ease;
}

.link-item .sub-menu .more:hover .more-sub-menu
{
    display: block;
    opacity: 1;
}
.link-item .sub-menu .more:hover i{
    transform: rotate(180deg);
}


/* ==========Search-box========= */

.navbar .search-box{
    position: relative; 
    height: 100%;
    display: flex;
    justify-content: center;
}

.search__container{
    height: 30px;
    margin: auto;
    display: flex;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;


}
.navbar .search-box i{
    height: 100%;
    /* padding: 4px; */
    line-height: 30px;
    font-size: 2.2rem;
    color: #fff; 
    font-weight: 600;
    padding: 0 6px;
    background-color: rgb(241, 241, 241);
    border-radius: 4px;
}

.navbar .search-box .input-box{
    padding-left: 8px;
    background-color: #fff;
}

.navbar .search-box input{
    font-size: 1.6rem;
    width: 240px;
    height: 100%;
    border-style: none;
    background-color: #fff;
    outline: none;
}
